.heard{width: 100%;}
        .heard img{float: left; margin-left: 250px;}
        .heard .DaoHang{margin-left:650px; width:650px; display: flex;}
        .heard .DaoHang .GuanRen{flex:2; margin-top: 30px;}
        .heard .DaoHang .GuanRen .aa { color: #000; font-size: 18px;font-family: '微软雅黑'; font-weight: bold;}
        .heard .DaoHang .GuanRen:hover .aa{color: blue; }
        .heard .DaoHang .YongHu{position: relative; }
        .heard .DaoHang .Gfirst{padding-top: 30px;}
        .heard .DaoHang .YongHu ul{position: absolute;bottom: -128px;left: 0;width: 170px; background: #FFF; z-index: 1;display: none;}
        .heard .DaoHang .YongHu a{font-size: 18px; line-height: 25px;}
        .heard .DaoHang .YongHu:hover ul{display: block;}
        .heard .DaoHang .YongHu a:hover{color: blue; }
	.img1 img{
		width: 100%;
		height: 560px;
	}
	section{
		width: 1008px;
		margin: 0 auto;
	}
	.line1, .line2{height: 1px; width: 423px; border:1px solid #ccc; display: block; margin-top: 77px;}
	.content1 h3{
		width: 125px;
		height: 45px;
		background: url(../images/sprite-tit.png) -18px -82px no-repeat;
		margin: 64px 17px 50px;
	}
	.ol li{   
		width: 256px;
    	vertical-align: top;
    	text-align: center;
    	margin: 0 39px;
    	display: inline-block;
    }
    .icon{
    	margin: 0 auto;
    	width: 130px;
    	height: 130px;
    	background:url(../images/yingxiao_ico.png) no-repeat;

    }
    .icon1{
    	background:url(../images/yingxiao_ico.png) 0 -130px no-repeat;
    }
    .icon2{
    	background:url(../images/yingxiao_ico.png) 0 -260px no-repeat;
    }
    .ol li h3{
    	margin-top: 20px;
    	font-size: 24px;
    	font-weight: bold;
    }
    .ol li em{
    	margin-top: 10px;
    	color: #999;
    	display: block;
    }
    .content2{
    	margin-top: 64px;
    }
    .content2 h3{
    	width: 125px;
    	height: 43px;
    	background: url(../images/sprite-tit.png)-22px -443px no-repeat
    }
    .content3 h3{
    	height: 46px;
    	background: url(../images/sprite-tit.png)-22px -217px no-repeat
    } 
    .list{
    	width: 1160px;
    	margin:0px auto;
    	overflow: hidden;
    }
    .list li{
    	width: 230px;
    	height:83px;
    	border-right:1px dashed #999;
    	border-bottom:1px dashed #999; 
    	float: left;
    	background: url(../shopCMD/images/tao.png)no-repeat center;

    }
    .list_end li{
    	border-bottom: none;
    }
    .button{
    	width: 200px;
    	height: 56px;
    	border: 5px solid #fe982d;
    	border-radius:5px; 
    	margin: 0 auto;
    	margin-top: 100px;
    	text-align: center;
	   	color: #fe982d;
	   	font-size: 18px;
	   	line-height: 56px;

    }
   .button:hover{
   	background: #fe982d;
   	color: #fff;
   }
   .footer{
   	width: 100%;
   	height: 170px;
   	background: #212425;
    margin-top:200px; 
   	text-align: center;
   	position: relative;
   }
   .footer ul{
	position: absolute;
	left: 50%;
	margin-left:-50% ; 
   }
  .footer li{
	float: left;
	color: #fff;
	text-align: center;
	margin: 0 auto;
   }